html {
  font-size: 26px;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: lightblue;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

button {
  width: 5rem;
  margin: 0 5px;
  font-size: 1rem;
}


.score {
  width: 100%;
  text-align: center;
}
